@use "./variables" as *;
// Mixin for flex column
@mixin column-flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Mixin for catch phrase block
@mixin bordered-bottom-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  font-weight: 200;
}

@mixin after-border {
  content: "";
  border: 1px solid $brand-color;
  margin-top: 1.5rem;
  width: 200px;
}

@mixin bordered-bottom-p {
  width: 40%;
  text-align: center;
  margin-top: 2rem;
  color: $muted-gray;
}
