@use "./variables" as *;
// Mixin for flex column
@mixin column-flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// For catch phrase block with border
@mixin bordered-bottom-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  font-weight: 200;
}

@mixin after-border {
  content: "";
  border: 1px solid $brand-color;
  margin-top: 1.5rem;
  width: 200px;
}

@mixin bordered-bottom-p {
  width: 40%;
  text-align: center;
  margin-top: 2rem;
  color: $muted-gray;
}

// For flip card
@mixin flip-card-external {
  background-color: transparent;
  perspective: 1000px;
}

@mixin flip-inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

@mixin flip-card-faces {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
