// Colors palette
$brilliant-white: #ffffff;
$smoky-white: #f5f5f5;
$brand-color: #fed03d;
$muted-gray: #333333;
$dark-gray: #1f1f1f;
$orange-icon: #fe813e;
$aqua-icon: #21a6b5;
$blue-icon: #517ad2;
$green-icon: #84cb01;
